beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.4.16
chardet==3.0.4
coala-utils==0.5.1
cssselect==1.0.3
fake-useragent==0.1.10
gunicorn==19.9.0
howdoi==1.1.13
idna==2.7
lxml==4.2.1
oauthlib==2.1.0
parse==1.8.4
Pillow==6.2.0
Pygments==2.2.0
pyquery==1.4.0
PySocks==1.6.8
python-pptx==0.6.10
requests==2.19.1
requests-cache==0.4.13
requests-html==0.2.2
requests-oauthlib==1.0.0
six==1.11.0
tweepy==3.6.0
twitter-scraper==0.3.0
twitterscraper==0.7.0
urllib3==1.23
XlsxWriter==1.0.5
