<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

  </head>
  <body>
    <div class="container padding"></div>
    <div class="container form main">
      <h1>New Patient Record</h1>
      <br>
      <form action="/new" method="post" enctype=multipart/form-data>
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input name="First-Name" type="text" class="form-control" id="firstName" aria-describedby="firstName" placeholder="Ex. Shamikh">
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input name="Last-Name" type="text" class="form-control" id="lastName" aria-describedby="lastName" placeholder="Ex. Hossain">
        </div>
        <div class="form-group">
          <label for="birthdate">Birthdate</label>
          <input name="Birthdate" type="date" class="form-control" id="birthdate" placeholder="00/00/00">
        </div>
        <div class="form-group">
          <label for="patientID">Patient ID</label>
          <input name="patientID" type="text" class="form-control" id="patientID" placeholder="0000000" value="{{ random }}">
        </div>
        <div class="form-group">
          <label for="patientNotes">Patient Notes</label>
          <textarea name="Notes" class="form-control" id="patientNotes" rows="3"></textarea>
        </div>
        <!-- <div c/lass="form-group"> -->
          <label for="exampleInputFile">Attachments</label><br>
          <input type="file" name="inputFile" aria-describedby="fileHelp">
          <br>
          <br>
        <!-- </div> -->
        <button type="submit" class="btn btn-primary">Submit</button>
        <!-- <input type=submit value=Upload> -->
      </form>
    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
